@model InventoryManagement.ViewModel.ItemStocksViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "查詢商品庫存量";
}
<style>
    .form-select {
        display: inline;
        padding: .325rem .55rem;
        width: 15%
    }

    /* 每隔一行底色用淡藍色 */
    .table tbody tr:nth-child(even) {
        background-color: #e7f3fe; /* 淡藍色 */
    }

    .fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white; /* 可根據需要調整背景色 */
        padding: 10px 0; /* 調整上下內邊距 */
        z-index: 1000; /* 確保在最上層 */
    }

    .front-red {
        color:red !important;
    }
</style>
<h1>查詢商品庫存量</h1>
<hr/>
<form action="/ItemStocks/searchItemStocks" method="get">
    <label>商品貨號:</label>
    <input type="text" name="itemCode"  />
    <label>狀態:</label>
    <select name="Status" class="form-select">
        @foreach (var temp in Model.StatusList)
        {
            if (temp.Value == ViewBag.selectStatus)
            {
                <option value="@temp.Value" selected>@temp.Text</option>
            }
            else
            {
                <option value="@temp.Value">@temp.Text</option>
            }
        }
    </select>
    <button type="submit">搜尋</button>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                商品貨號
            </th>
            <th>
                商品名稱
            </th>
            <th>
                單位
            </th>
            <th>
                安全庫存量
            </th>
            <th>
                總庫存量
            </th>
            <th>
                狀態
            </th>
            <th>
                異動人員
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>
                @item.ItemCode
            </td>
            <td>
                @item.ItemName
            </td>
            <td>
                @item.Unit
            </td>

            @if (item.SafeQty == 0)
            {
                <td class="front-red">@item.SafeQty</td>                    
            }
            else{
                <td >@item.SafeQty</td>
            }
               
            <td>
                @item.TotalQty
            </td>
            <td>
                @item.StatusName
            </td>
            <td>
                @item.EmployeeName
            </td>
            <td>
                <form action="/ItemStocks/Edit" method="get" style="display:inline;">
                    <input type="hidden" name="itemCode" value="@item.ItemCode"/>
                    <input type="hidden" name="itemName" value="@item.ItemName"/>
                    <button type="submit" class="btn btn-secondary">修改</button>
                </form>
                <form action="/ItemStocks/Index" method="get" style="display:inline;">
                    <input type="hidden" name="itemCode" value="@item.ItemCode" />
                    <button type="submit" class="btn btn-primary">進/出貨</button>
                </form>
            </td>
        </tr>
        }
        
</table>

<!-- 分頁按鈕 -->
<nav aria-label="Page navigation" class="fixed-bottom">
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="/ItemStocks/searchItemStocks?page=@(Model.CurrentPage - 1)&Status=@Context.Request.Query["Status"]&Spec=@Context.Request.Query["itemCode"]">上一頁</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="/ItemStocks/searchItemStocks?page=@i&Status=@Context.Request.Query["Status"]&Spec=@Context.Request.Query["itemCode"]">@i </a>

            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="/ItemStocks/searchItemStocks?page=@(Model.CurrentPage + 1)&Status=@Context.Request.Query["Status"]&Spec=@Context.Request.Query["itemCode"]">下一頁</a>
            </li>

        }
    </ul>
</nav>